Welcome Indira!
<br/>
<br/>
Editing reasons for claim type:
<br/>
<select>
    <option value="1">Cost Effective Alternative</option>
    <option value="2">Needs Refill</option>
    <option value="3">Needs Lab Monitoring</option>
</select>
<br/><br/>
Editing reasons for Status:
<br/>
<select>
    <option value="1">Approved</option>
    <option value="2">Review Resubmit</option>
</select>
<br/><br/>

Reasons for this Claim Type:
<br/>
<textarea readonly rows="10" cols="100">
  Not a good call
  All ready and setup
  Needs more love
</textarea>
<br/><br/>

Delete a reason:
<br/>
<select name="status" id="status">
    <option value="1">Not a good call</option>
    <option value="2">All ready and setup</option>
    <option value="3">Needs more love</option>
</select>
  <br/>
<button type="button">Delete Selected</button>
<br/><br/>


Add a reason:
<br/>
<input type="text">
<br/>
<button type="button">Add Reason</button>
