<div>
    <div> Please set the invoice number and then upload all related claims.</div>

    <br/>
    <label for="invoice">Invoice Number:</label>
    <input type="text" id="invoice" name="invoice" [(ngModel)]="invoice">
    
    <br/>
    <br/>
    <label for="claims">Claims</label>
    <input id="claims" type="file" (change)="onFileChange($event)"/>
    <!-- <input id="claims" type="file" [(ngModel)]="excelFile"/> -->
    
    <br/>
    <br/>
    <button type="button" (click)="submit()">Upload!</button>

</div>