<div>
    <div> Please set the status to set and then upload all related claims.</div>
    <br/>
    <br/>
    <button type="button" (click)="submit()">Upload!</button>
    <br/>
    <br/>
    <label for="invoice">Status:</label><br>
    <!-- <input type="text" id="invoice" name="invoice" [(ngModel)]="invoice"> -->
    <select name="status" id="status">
        <option value="approved">Approved</option>
        <option value="canceled">Canceled</option>
        <option value="resubmit">Review and Resubmit</option>
      </select>
      <br/><br/>

      Reason Category (Claim Type):
      <br/>
      <select>
          <option value="1">Cost Effective Alternative</option>
          <option value="2">Needs Refill</option>
          <option value="3">Needs Lab Monitoring</option>
      </select>

      <br><br>
      Reason:<br>
      <select name="status" id="status">
        <option value="1">Not a good call</option>
        <option value="2">All ready and setup</option>
        <option value="3">Needs more love</option>
    </select>
    OR New Reason:
    <input type="text">
    <input type="checkbox"> Save this Reason to list of reasons
    <br><br>

    <br/>
    Selected Reason: 
    <br/>
    <textarea i rows="5" cols="50">
This is a super long explanation of why this status happens etc

    </textarea>

    
    <br/>
    <label for="claims">Claims</label>
    <br/>
    <!-- <input id="claims" type="file" (change)="onFileChange($event)"/> -->
    <textarea i rows="50" cols="100">
123
34234 
234234 
234 
    </textarea>
    
</div>